# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual Studio cache files
*.suo
*.user
*.userosscache
*.sln.docstates

# AWS deployment packages
*.zip

# Environment variables
.env
.env.local
.env.production

# IDE
.vscode/
.vs/